<p>
	<div class="user_profile_container">
		<%= image_tag "#{list_item.profile_image_url}", :title => "title", :class => "class" %>
		<%= "#{list_item.from_user}" %>: <%= "#{list_item.text}" %>
	</div>
</p>

<!--created_at="Thu, 10 Nov 2011 04:42:05 +0000" 
from_user="mp3_download_" 
from_user_id=198521958 
from_user_id_str="198521958" 
geo=nil id=134490989669793793 
id_str="134490989669793793" 
iso_language_code="en" 
result_type="recent"
profile_image_url="http://a0.twimg.com/sticky/default_profile_images/default_profile_5_normal.png" 
source="&lt;a href=&quot;http://mobile.twitter.com&quot; rel=&quot;nofollow&quot;&gt;Mobile Web&lt;/a&gt;" 
text="Dev - In The Dark - http://t.co/Zsyq2JvM #dev #mp3 #in" 
to_user_id=nil 
to_user_id_str=nil-->